{% extends 'header.html' %}
{% block title %}Home {% endblock %}
{% load static %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}
{% block header %}
<body>
<header>
    <h1>Task Management System</h1>
</header>
<div class="create-button1">
    <button onclick="showCreateButtons()">Create New Program</button>
</div>

<script>
    function showCreateButtons() {
        var createButtonDiv = document.querySelector('.create-button');
        createButtonDiv.style.display = 'flex'; // Displaying the buttons after clicking "Create New Program"
    }
</script>

<div class="create-button">
    <button onclick="createIndividualTask()">Individual Task</button>
    <input type="text" placeholder="Enter task for individual" id="individualTaskText"/>
    <input type="text" placeholder="Enter task for groups" id="groupTaskText"/>
    <button onclick="createGroupTask()">Group Tasks</button>


    <button type="button" onclick="createIndividualTask()">Submit</button>
    <h2>Your Task:</h2>
    <p id="taskDisplay"></p>

</div>

<script>
    function createIndividualTask() {
        var individualTaskText = document.getElementById('individualTaskText').value.trim();
        var groupTaskText = document.getElementById('groupTaskText').value.trim();

        if (individualTaskText === '' && groupTaskText === '') {
            alert('Please enter a task.');
            return;
        }

        if (individualTaskText !== '' && groupTaskText !== '') {
            alert('Please fill only one task at a time.');
            return;
        }

        var taskDisplay = document.getElementById('taskDisplay');
        if (individualTaskText !== '') {
            taskDisplay.textContent = individualTaskText;
        } else {
            taskDisplay.textContent = groupTaskText;
        }

        document.querySelector('input[name="individual_task"]').value = individualTaskText;
        document.querySelector('input[name="group_task"]').value = groupTaskText;
        document.getElementById('taskForm').submit();
    }
</script>

</body>

{% endblock %}
